        #cuadradoLineas {
                width: 300px; 
                height: 50px; 
                background: #428bca;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 200% ;
                margin: 10px;
                padding-bottom: 60px; 
                text-align: center;
                line-height: 0.25;
                float: left;
        }

        #cuadradoDinero {
                width: 300px; 
                height: 50px; 
                background: #428bca;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150% ;
                margin: 10px;
                padding-bottom: 60px; 
                text-align: center;
                float: left;
        }

        #cuadradoMinions{
                width: 300px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

        #cuadradoIncentivos{
                width: 250px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

        #cuadradoFormador{
                width: 110px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

        #cuadradoMaquinaCafe{
                width: 110px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

        #cuadradoOficina{
                width: 250px; 
                height: 110px; 
                background: #1b9421;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.30;
        }

        #cuadradoDiscos{
                width: 250px; 
                height: 110px; 
                background: #1b9421;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.30;
        }

        #flecha{
                alt: "flecha"; 
                width: 100;
                height: 150px;
                float: left;
        }

        #cuadradoScrum {
                width: 190px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

        #cuadradoCto {
                width: 190px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

        #cuadradoComercial {
                width: 190px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

        #cuadradoCampana {
                width: 190px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

        #cuadradoAgencia {
                width: 190px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

        #cuadradoCompresion {
                width: 190px; 
                height: 110px; 
                background: #bd2828;
                border: 3px solid #555;
                color: blanchedalmond; 
                font-size: 150%;
                margin: 10px;
                text-align: center;
                float: left;
                line-height: 0.2;
        }

